node_modules/
dist/
test-results/
playwright-report/
*.tsbuildinfo
*.config.js
*.config.d.ts
src-tauri/target/
src-tauri/gen/schemas/
src-tauri/icons/android/
src-tauri/icons/ios/
src-tauri/icons/64x64.png
src-tauri/icons/icon.icns
src-tauri/icons/icon.png
src-tauri/icons/StoreLogo.png
src-tauri/icons/Square*.png
